<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="">Выйти</a></li>
        <li><a class="dropdown-item" href="">Профиль</a></li>
        <li><a class="dropdown-item" href="">Войти</a></li>
        <li><a class="dropdown-item" href="">Регистрация</a></li>
        <li><a class="dropdown-item" href="">Сбросить пароль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">!!!</a></li>
    </ul>
</div>