{% extends 'mailing_list/base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body text-black">
                    <form method="post">
                        {% csrf_token %}
<!--                        <p>-->
<!--    <label for="id_id">id</label>-->
<!--    <input type="number" name="id" required id="id_id">-->
<!--                        </p>-->
                        {{ form.as_p }}
                        {% if not object %}
                        <button type="submit" class="btn btn-success">Создать</button>
                        <a href="{% url 'mailing_list:home_page' %}" type="submit" class="btn btn-primary">Отмена</a>
                        {% else %}
                        <button type="submit" class="btn btn-success">Редактировать</button>
                        <a href="{% url 'mailing_list:client_list' %}" type="submit" class="btn btn-primary">Отмена</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}