{% extends 'mailing_list/base_template.html' %}
{% block content %}
<div class="container text-center">
  <div class="row">
  <div class="col-3">
    <p>Количество рассылок: {{all_messages}}</p>
    <p>Количество клиентов: {{all_clients}}</p>
  </div>
  <div class="col-4">
    <p>Количество активных рассылок: {{active_messages}} </p>
  </div>
    </div>
  <div class="row">
    <div class="col-9">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal text-body-emphasis">Сервис для создания рассылок</h1>
          <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
        </div>
        <main>
          {% if user.is_authenticated %}
          <div class="row row-cols-1 row-cols-md-2 mb-6 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <a href="{% url 'mailing_list:client_list' %}">
                  <button type="button" class="w-100 btn btn-lg btn-outline-success">Список клиентов</button>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <a href="{% url 'mailing_list:message_list' %}">
                  <button type="button" class="w-100 btn btn-lg btn-outline-success">Доступные рассылки</button>
                </a>
              </div>
            </div>
          </div>
          {% endif %}
        </main>
      </div>
    <div class="col">
      <h5>Кое что из блога ^^</h5>
      <hr>
      {% for object in blogs %}
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
              <h4 class="mb-0">{{object.header}}</h4>
              <div class="mb-1 text-body-secondary">{{object.date_when_created}}</div>
              <p class="card-text mb-auto">{{object.content|slice:"0:30"}}...</p>
              <a href="{% url 'blog:article' object.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
                <svg class="bi"><use xlink:href="#chevron-right"/></svg>
              </a>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}