{% extends 'mailing_list/base_template.html' %}
{% block content %}
<div class="row">
    {% for log in object_list %}
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" style="width: 18rem;">
            <div class="card-header py-3"><a href="{% url 'mailing_list:logsdetail' log.pk %}">
                Информация по рассылке "{{log}}"
            </a>
            </div>
            <!--        <ul class="list-group list-group-flush">-->
            <!--            <li class="list-group-item">{{log.datetime_of_attempt}}</li>-->
            <!--        </ul>-->
            <!--        <ul class="list-group list-group-flush">-->
            <!--            <li class="list-group-item">{{log.status}}</li>-->
            <!--        </ul>-->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}