{% extends 'mailing_list/base_template.html' %}
{% block content %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Пользователи</h1>
    </div>

<div class="row">
    {% for user in object_list %}
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card" style="width: 18rem;">
            <div class="card-header py-3">
                {{user}}
            </div>
            <ul class="list-group list-group-flush">
                {% if user.is_active %}
                <li class="list-group-item">Пользователь активирован <span>&#9989;</span></li>
                <li class="list-group-item">
                    <a href="{% url 'users:user_deactivate' user.pk %}"><button type="button" class="btn btn-danger">Забанить</button></a>
                </li>
                {% else %}
                <li class="list-group-item">Пользователь не активировал аккаунт или был забанен <span>&#10060;</span></li>
                <li class="list-group-item">
                    <a href="{% url 'users:user_deactivate' user.pk %}"><button type="button" class="btn btn-success">Активировать</button></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
